
<div class="alignDivCenter">
    <h1>Arabic Alphabets</h1>
    <p>Click Alphabets to Listen its Sound</p>
    <br>

    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <a href="#" id="aTa"><img src="img/arabicAlpha/ta.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aBa"><img src="img/arabicAlpha/ba.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aAlif"><img src="img/arabicAlpha/alif.jpg" /></a>
            </div>



            <div class="col-lg-4">
                <a href="#" id="aHha"><img src="img/arabicAlpha/hha.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aJiim"><img src="img/arabicAlpha/jiim.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aTha"><img src="img/arabicAlpha/tha.jpg" /></a>
            </div>




            <div class="col-lg-4">
                <a href="#" id="aThaal"><img src="img/arabicAlpha/thaal.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aDaal"><img src="img/arabicAlpha/daal.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aKha"><img src="img/arabicAlpha/kha.jpg" /></a>
            </div>




            <div class="col-lg-4">
                <a href="#" id="aSiin"><img src="img/arabicAlpha/siin.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aZay"><img src="img/arabicAlpha/zay.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aRa"><img src="img/arabicAlpha/ra.jpg" /></a>
            </div>




            <div class="col-lg-4">
                <a href="#" id="aDaad"><img src="img/arabicAlpha/daad.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aSaad"><img src="img/arabicAlpha/saad.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aShiin"><img src="img/arabicAlpha/shiin.jpg" /></a>
            </div>




            <div class="col-lg-4">
                <a href="#" id="aAyn"><img src="img/arabicAlpha/ayn.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aThaa"><img src="img/arabicAlpha/thaa.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aTaa"><img src="img/arabicAlpha/taa.jpg" /></a>
            </div>




            <div class="col-lg-4">
                <a href="#" id="aQaf"><img src="img/arabicAlpha/qaf.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aFa"><img src="img/arabicAlpha/fa.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aGhayn"><img src="img/arabicAlpha/ghayn.jpg" /></a>
            </div>



            <div class="col-lg-4">
                <a href="#" id="aMiim"><img src="img/arabicAlpha/miim.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aLam"><img src="img/arabicAlpha/lam.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aKaf"><img src="img/arabicAlpha/kaf.jpg" /></a>
            </div>




            <div class="col-lg-4">
                <a href="#" id="aWaw"><img src="img/arabicAlpha/waw.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aHa"><img src="img/arabicAlpha/ha.jpg" /></a>
            </div>
            <div class="col-lg-4">
                <a href="#" id="aNuun"><img src="img/arabicAlpha/nuun.jpg" /></a>
            </div>


            <div class="col-lg-12">
                <a href="#" id="aYa"><img src="img/arabicAlpha/ya.jpg" /></a>
            </div>
        </div>
    </div>

</div>

<!-- Javascript File -->

<script src="js/arabicAlpha.js"></script>