
<div class="alignDivCenter">
    <h1>Arabic Alphabets</h1>
    <p>Click Alphabets to Listen its Sound</p>
    <br>

    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <button type="button" id="ata"><img src="img/arabicAlpha/ta.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="aba"><img src="img/arabicAlpha/ba.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="aalif"><img src="img/arabicAlpha/alif.jpg" /></button>
            </div>



            <div class="col-lg-4">
                <button type="button" id="ahha"><img src="img/arabicAlpha/hha.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="ajiim"><img src="img/arabicAlpha/jiim.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="atha"><img src="img/arabicAlpha/tha.jpg" /></button>
            </div>




            <div class="col-lg-4">
                <button type="button" id="athaal"><img src="img/arabicAlpha/thaal.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="adaal"><img src="img/arabicAlpha/daal.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="akha"><img src="img/arabicAlpha/kha.jpg" /></button>
            </div>




            <div class="col-lg-4">
                <button type="button" id="asiin"><img src="img/arabicAlpha/siin.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="azay"><img src="img/arabicAlpha/zay.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="ara"><img src="img/arabicAlpha/ra.jpg" /></button>
            </div>




            <div class="col-lg-4">
                <button type="button" id="adaad"><img src="img/arabicAlpha/daad.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="asaad"><img src="img/arabicAlpha/saad.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="ashiin"><img src="img/arabicAlpha/shiin.jpg" /></button>
            </div>




            <div class="col-lg-4">
                <button type="button" id="aayn"><img src="img/arabicAlpha/ayn.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="athaa"><img src="img/arabicAlpha/thaa.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="ataa"><img src="img/arabicAlpha/taa.jpg" /></button>
            </div>




            <div class="col-lg-4">
                <button type="button" id="aqaf"><img src="img/arabicAlpha/qaf.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="afa"><img src="img/arabicAlpha/fa.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="aghayn"><img src="img/arabicAlpha/ghayn.jpg" /></button>
            </div>



            <div class="col-lg-4">
                <button type="button" id="amiim"><img src="img/arabicAlpha/miim.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="alam"><img src="img/arabicAlpha/lam.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="akaf"><img src="img/arabicAlpha/kaf.jpg" /></button>
            </div>




            <div class="col-lg-4">
                <button type="button" id="awaw"><img src="img/arabicAlpha/waw.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="aha"><img src="img/arabicAlpha/ha.jpg" /></button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="anuun"><img src="img/arabicAlpha/nuun.jpg" /></button>
            </div>


            <div class="col-lg-12">
                <button type="button" id="aya"><img src="img/arabicAlpha/ya.jpg" /></button>
            </div>
        </div>
    </div>

</div>

<!-- Javascript File -->
<script src="js/arabicAlpha.js"></script>

