






<div class="alignDivCenter">
    <h1>WELCOME TO THE KID LEARNING PLATFORM</h1>
    <br>

    <H3>Select What You Want To Do To Day</H3>
    <br>


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-primary" href="tableMath" role="button">Tables</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary" href="#" role="button">Arithmetic</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary" href="#" role="button">Algebra</a>
            </div>
        </div>
    </div>

    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-primary" href="arabicAlpha" role="button">Arabic Alphabets</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary" href="#" role="button">Blank</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary" href="#" role="button">Blank</a>
            </div>
        </div>
    </div>

</div>