






<div class="alignDivCenter">
    <h1>WELCOME TO THE KID LEARNING PLATFORM</h1>
<br>

<H3>Select What You Want To Do To Day</H3>

<a class="btn btn-primary" href="tableMath" role="button">Tables</a>
<a class="btn btn-primary" href="#" role="button">Arithmetic</a>
<a class="btn btn-primary" href="#" role="button">Algebra</a>

</div>