
<div class="alignDivCenter">

    <h2>Welcome to Tables Page</h2>
    <br>

   

    <form method="post" action="newTable">
        <div class="form-group form-check-inline w-50">
            <input type="text" class="form-control" name="formUserNameInput" placeholder="Enter Your Full Name">
        </div>
        <div class="form-group form-check-inline w-50">
            <input type="text" class="form-control" name="formNumberTableInput" placeholder="Enter Number of Table example: 2 or 3 or 4 or 5 or 6">
        </div>
        <br>
        <div class="form-check form-check-inline w-40">
            <input class="form-check-input" type="radio" name="formLearnTestRadio" value="Learn" checked>
            <label class="form-check-label" for="LearnRadios1">
                Learn Table
            </label>
        </div>

        <div class="form-check form-check-inline w-40">
            <input class="form-check-input" type="radio" name="formLearnTestRadio" value="Test">
            <label class="form-check-label" for="TestRadios2">
                Test Table
            </label>

        </div>
        <br>
        <br>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
        

    </form>





</div>